<?xml version="1.0" ?>
<virtualModel version="9.7.0.500">
    <resolutions>
        <ignore date="2017-06-30T11:58:14.440Z" description="Pretty sequential logic - not a problem.">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="ThresholdViolation" descriptor="ThresholdViolation:CoreModifiedCcn:Routine"></type>
            <elementPattern type="Wildcard"><![CDATA[Workspace:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:controller:MetaDataControllerImpl.java:MetaDataControllerImpl:mergeExportMetaDataFiles(java.util.List<java.io.File>)]]></elementPattern>
        </ignore>
        <ignore date="2018-06-12T16:03:36.737Z" description="Close abstractions">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="ComponentCycleGroup"></type>
            <elementPattern type="FullyQualifiedName">Files:BaseDirectory:SystemDirectory:Analyzers:ComponentCyclesModule:Result:4349046b63be370b4a0f84df8488f115|c49d04c73a3529b13e023217d779f51e</elementPattern>
            <matching info="Java Module 'sonargraph-integration-access' contains 3 cyclic components">
                <elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:architecture:model:Artifact.java</elementPattern>
                <elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:architecture:model:Connector.java</elementPattern>
                <elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:architecture:model:Interface.java</elementPattern>
            </matching>
        </ignore>
        <ignore date="2018-06-12T18:48:24.359Z" description="Tolerated">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="ThresholdViolation" descriptor="ThresholdViolation:CoreLinesOfCode:SourceFile"></type>
            <elementPattern type="Wildcard">Workspace:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:persistence:XmlReportReader.java</elementPattern>
        </ignore>
    </resolutions>
</virtualModel>