<?xml version="1.0" ?>
<virtualModel version="9.4.2.100">
    <resolutions>
        <ignore date="2016-12-29T16:05:10.475Z" description="Tolerated">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="ComponentCycleGroup"></type>
            <elementPattern type="FullyQualifiedName">Files:BaseDirectory:SystemDirectory:Analyzers:ComponentCyclesModule:./Modifiable.vm:7cfd0de4fa439bbbf464664a6d9101de|c560919c18953708f49e6885e3321443</elementPattern>
            <matching info="Java Module 'com.hello2morrow:sonargraph-integration-access' contains 3 cyclic components">
                <elementPattern type="FullyQualifiedName">Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:IFilePathElement.java</elementPattern>
                <elementPattern type="FullyQualifiedName">Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:INamedElement.java</elementPattern>
                <elementPattern type="FullyQualifiedName">Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:ISourceFile.java</elementPattern>
            </matching>
        </ignore>
        <ignore date="2016-12-29T16:08:03.492Z" description="Tolerated">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="DuplicateCodeBlock"></type>
            <elementPattern type="FullyQualifiedName">Files:BaseDirectory:SystemDirectory:Analyzers:DuplicateCode:./Modifiable.vm:3219bd5052d1567ed1e122bddd0c21a4|00de9f572652c35b33d5f399dc7dbcc2</elementPattern>
            <matching info="2 occurrences with 55 line(s) found in 2 file(s)">
                <elementPattern type="FullyQualifiedName">Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:internal:MergedIssueCategoryImpl.java</elementPattern>
                <elementPattern type="FullyQualifiedName">Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:internal:MergedIssueProviderImpl.java</elementPattern>
            </matching>
        </ignore>
        <ignore date="2016-12-29T16:08:03.492Z" description="Tolerated">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="DuplicateCodeBlock"></type>
            <elementPattern type="FullyQualifiedName">Files:BaseDirectory:SystemDirectory:Analyzers:DuplicateCode:./Modifiable.vm:618d771dc7902bc33acfae789039499e|04044c064bbcd02dfbdb465fce77c396</elementPattern>
            <matching info="3 occurrences with 54 line(s) found in 3 file(s)">
                <elementPattern type="FullyQualifiedName">Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:internal:MergedIssueCategoryImpl.java</elementPattern>
                <elementPattern type="FullyQualifiedName">Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:internal:MergedIssueProviderImpl.java</elementPattern>
                <elementPattern type="FullyQualifiedName">Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:internal:MergedIssueTypeImpl.java</elementPattern>
            </matching>
        </ignore>
        <ignore date="2017-06-30T11:55:07.724Z" description="The sub type is used as a reference in the API. This is ok.">
            <type class="Script" name="Supertype uses subtype" descriptor="./Core/SuperTypeUsesSubType.xml:Warning"></type>
            <dependencyPattern type="Wildcard" from="Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:INamedElement.java:INamedElement:getSourceFile()" to="Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:model:ISourceFile.java:ISourceFile"></dependencyPattern>
        </ignore>
        <ignore date="2017-06-30T11:58:14.440Z" description="Pretty sequential logic - not a problem.">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="ThresholdViolation" descriptor="ThresholdViolation:CoreModifiedCcn:Routine"></type>
            <elementPattern type="Wildcard"><![CDATA[Workspace:com.hello2morrow\:sonargraph-integration-access:./src/main/java:com:hello2morrow:sonargraph:integration:access:controller:MetaDataControllerImpl.java:MetaDataControllerImpl:mergeExportMetaDataFiles(java.util.List<java.io.File>)]]></elementPattern>
        </ignore>
    </resolutions>
</virtualModel>